<style>
  body {
    margin: auto;
    padding: 1em;
    max-width: 700px;
    background: #faf5e1;
    colour: #222;    
       }
  
   a,a:visited {
      color: #48b1e5;
    }
  
  @media (prefers-color-scheme: dark) {
      body {
        background: #222;
        color: white;
      }
      a,a:visited {
        color: #adc1d9;
      }
    }
</style>
<head>
  <meta name="viewport" content="width=device-width">  
<h1>培正飯堂</h1>
  
<body>
  <header>
  
   <main>
   {{content}}
   </main>
   
  </header>
  <footer>
    <br><a href='https://pcms-canteen.netlify.app/'>Back</a>
   </footer>
  
</body>
  </html>
